name: integration-test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build cmdr
        run: |
          go build -o cmdr .
          chmod +x cmdr

      - name: Integration tests (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          ./install.sh -d 30
          ./integration-tests/start.sh
        env:
          CMDR_LOG_LEVEL: debug

      - name: Integration tests (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew install expect || true
          brew uninstall go || true
          brew install go
          go build -o cmdr .
          chmod +x cmdr
          ./install.sh -d 30
          ./integration-tests/start.sh
        env:
          CMDR_LOG_LEVEL: debug
